<h2>Solution 2</h2>
<h2>Result</h2>
@if (countries$ | async; as countries) {
  <div>
    <div>Select one of {{countries.length}} countries:</div>
    <select [formField]="countryForm.countryId">
      @for (country of countries; track country) {
        <option [value]="country.id">
          {{country.description}}
        </option>
      }
    </select>
    <div>Current value: {{ countryForm.countryId().value() }}</div>
  </div>
}
@if (states().length > 0) {
  <div>
    <div>Select one of {{states().length}} states/provinces:</div>
    <select [formField]="countryForm.stateCode">
      <option value="">Select...</option>
      @for (state of states(); track state) {
        <option [value]="state.code">
          {{state.description | titlecase}}
        </option>
      }
    </select>
    <div>Current value: {{ countryForm.stateCode().value() }}</div>
  </div>
}
