<h2>Solution 3</h2>
<h2>Result</h2>
<div >
  <div class="dropdown">
    <input type="text" class="dropbtn" [formControl]="countryControl"
      placeholder="Enter country name" >
    @if (countries$ | async; as countries) {
      <div class="dropdown-content">
        @for (country of countries; track country) {
          <span (click)="updateStates(country)"
            [innerHTML]="country.description | highlight: countryControl.value">
          </span>
        }
      </div>
    }
  </div>
</div>
@if (states$ | async; as states) {
  <div>
    <div class="dropdown">
      <input type="text" class="dropbtn" [value]="state?.description" [disabled]="states.length == 0" placeholder="Enter your state">
      <div class="dropdown-content">
        @for (s of states; track s) {
          <span (click)="state = s">{{s.description | titlecase}}</span>
        }
      </div>
    </div>
  </div>
}
