<h2>Solution 3</h2>
<h2>Result</h2>
@if (countries.hasValue()) {
  <div>
    <div class="dropdown">
      <input type="text" class="dropbtn" [formField]="countryForm.country"
        placeholder="Enter country name" >
      <div class="dropdown-content">
        @for (country of filteredCountries(); track country.id) {
          <span (click)="updateStates(country)"
            [innerHTML]="country.description | highlight: countryForm.country().value()">
          </span>
        }
      </div>
    </div>
  </div>
}
@if (states.hasValue() && states.value().length > 0) {
  <div>
    <div class="dropdown">
      <input type="text" class="dropbtn" [value]="state()?.description ?? ''" [disabled]="states.value().length == 0" placeholder="Enter your state">
      <div class="dropdown-content">
        @for (s of states.value(); track s.id) {
          <span (click)="state.set(s)">{{s.description | titlecase}}</span>
        }
      </div>
    </div>
  </div>
}
